@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 @apply bg-gray-300;
}



.radio-togglers input[type="radio"]:checked + span{
    @apply bg-blue-500 text-white;
}

.sortable-ghost{
    opacity: .2;
}


input#navCb:checked ~ aside{
    left:0;
}
input#navCb:checked ~ .backdrop{
    display: block;
}